<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="../Controllers/option.js"></script>
        <script type="text/javascript" src="../Controllers/data.js"></script>
        <script type="text/javascript" src="js/jquery.checkbox.min.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.checkbox.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/options.css" />
        <script type="text/javascript">
            $(document).ready(function() {
                $('input:checkbox:not([safari])').checkbox();
                $('input[safari]:checkbox').checkbox({cls:'jquery-safari-checkbox'});
                $('input:radio').checkbox();
            });
        </script>
    </head>

    <body>
        <div class="main-container">

            <div class="logo">
                <img src="images/options-logo.png" width="145" height="70" alt="شارك" />
            </div>

            <div class="main-title f">أختر الخدمات المفضلة لديك</div>

            <div class="services-container" id="websites">

              <!--<div class="service f">

                    <div class="service-logo">
                        <img src="images/option-twitter.png" width="43" height="58" />
                    </div>
                    <div class="services-texts twitter">twitter</div>
                    <input name="" type="submit" class="add-button" value="أضــــف"/>
                </div>

                <div class="service f">
                    <div class="service-logo">
                        <img src="images/option-facebook.png" width="43" height="58" />
                    </div>
                    <div class="services-texts facebook">Facebook</div>
                    <input name="" type="submit" class="add-button" value="أضــــف"/>
                </div>

                <div class="service f">
                    <div class="service-logo">
                        <img src="images/option-gmail.png" width="43" height="58" />
                    </div>
                    <div class="services-texts gmail">Gmail</div>
                    <input name="" type="submit" class="add-button" value="أضــــف"/>
                </div>

                <div class="service f">
                    <div class="service-logo">
                        <img src="images/option-linked.png" width="43" height="58" />
                    </div>
                    <div class="services-texts linked-in">Linked In</div>
                    <input name="" type="submit" class="add-button" value="أضــــف"/>
                </div>

                <div class="service f">
                    <div class="service-logo">
                        <img src="images/option-google.png" width="43" height="58" />
                    </div>
                    <div class="services-texts google">Google Bookmarks</div>
                    <input name="" type="submit" class="add-button" value="أضــــف"/>
                </div>

                <div class="service f">
                    <div class="service-logo">
                        <img src="images/option-yahoo.png" width="43" height="58" />
                    </div>
                    <div class="services-texts yahoo">Yahoo Mail</div>
                    <input name="" type="submit" class="add-button" value="أضــــف"/>
                </div>

                <div class="service f">
                    <div class="service-logo">
                        <img src="images/option-google-app.png" width="43" height="58" />
                    </div>
                    <div class="services-texts google-app">Google app</div>
                    <input name="" type="submit" class="add-button" value="أضــــف"/>
                </div>

                <div class="service f">
                    <div class="service-logo">
                        <img src="images/option-msn.png" width="43" height="58" />
                    </div>
                    <div class="services-texts msn">Google app</div>
                    <input name="" type="submit" class="add-button" value="أضــــف"/>
                </div>

                <div class="nl"></div>-->
            </div>


            <div class="main-title f">أختر طريقة ظهور مختصر الروابط</div>


            <form id="myform" action="javascript:void(0)">

                <div class="f checkbox-container">
                    <p>
                        <label class="f">فى القائمة الرئيسية</label>
                        <input type="checkbox" name="checkbox[]" class="top5" id="popup"/>
                    </p>
                    <p>
                        <label class="f">عند نقر الزر الماوس الايمن</label>
                        <input type="checkbox" name="checkbox[]" class="top5" id="rightclick" />
                    </p>

                </div>

                <div class="f-r save-button">
                    <input name="" type="submit" class="add-button" value="حفظ" onclick="SharingOptions.save()"/>
                </div>

            </form>


        </div>
    </body>
</html>