<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Untitled Document</title>
        <link rel="stylesheet" type="text/css" href="css/options.css" />
        
       
    </head>

    <body>
    	
        	<div class="header">
		<img src="images/logo.png" class="f" />    
        <a class="setteing-button f-r">إعدادات</a>
        <a class="setteing-button f-r">مشاركات سابقة </a>
    </div>
    <div class="searh-container f">
    	<div class="searh-elements">
        	<label class="f">أختر الخدمات المفضلة لديك</label>
            
        </div>
    </div>
	<div class="main-container">
            <div class="history-box f last">
			
			<div class="services-container">
            
            	<div class="service f">
                
                	<div class="service-logo">
                    	<img src="images/option-twitter.png" width="43" height="58" />
                    </div>
                    <div class="services-texts twitter">twitter</div>
                    <input name="" type="submit" class="add-button" value="أضــــف"/>
                </div>
                
                <div class="service f">
                	<div class="service-logo">
                    	<img src="images/option-facebook.png" width="43" height="58" />
                    </div>
                    <div class="services-texts facebook">Facebook</div>
                    <input name="" type="submit" class="add-button" value="أضــــف"/>
                </div>
                
                <div class="service f">
                	<div class="service-logo">
                    	<img src="images/option-gmail.png" width="43" height="58" />
                    </div>
                    <div class="services-texts gmail">Gmail</div>
                    <input name="" type="submit" class="add-button" value="أضــــف"/>
                </div>
                
                <div class="service f">
                	<div class="service-logo">
                    	<img src="images/option-linked.png" width="43" height="58" />
                    </div>
                    <div class="services-texts linked-in">Linked In</div>
                    <input name="" type="submit" class="add-button" value="أضــــف"/>
                </div>
                
                <div class="service f">
                	<div class="service-logo">
                    	<img src="images/option-google.png" width="43" height="58" />
                    </div>
                    <div class="services-texts google">Google Bookmarks</div>
                    <input name="" type="submit" class="add-button" value="أضــــف"/>
                </div>
                
                <div class="service f">
                	<div class="service-logo">
                    	<img src="images/option-yahoo.png" width="43" height="58" />
                    </div>
                    <div class="services-texts yahoo">Yahoo Mail</div>
                    <input name="" type="submit" class="add-button" value="أضــــف"/>
                </div>
                
                <div class="service f">
                	<div class="service-logo">
                    	<img src="images/option-google-app.png" width="43" height="58" />
                    </div>
                    <div class="services-texts google-app">Google app</div>
                    <input name="" type="submit" class="add-button" value="أضــــف"/>
                </div>
                
                <div class="service f">
                	<div class="service-logo">
                    	<img src="images/option-msn.png" width="43" height="58" />
                    </div>
                    <div class="services-texts msn">Google app</div>
                    <input name="" type="submit" class="add-button" value="أضــــف"/>
                </div>
                
                <div class="nl"></div>
            </div>
			<div style="text-align: center;">
				<img src="images/line.png"/>
			</div>
			</div>
            
            
            
            
            
            
            
            
            
            
                
                <div class="f-r save-button">
                	<input name="" type="submit" class="add-button" value="حفظ"/>
            	</div>

				
		
                        
            
        </div>
    </body>
</html>
