<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Untitled Document</title>
        <!-- styles -->
        <link type="text/css" rel="stylesheet" href="css/style.css" />
        <!-- scripts -->
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="../Controllers/popup.js"></script>
        <link rel="stylesheet" href="http://dev.jquery.com/view/trunk/plugins/autocomplete/demo/main.css" type="text/css" />
        <link rel="stylesheet" href="http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.css" type="text/css" />
        <script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/lib/jquery.bgiframe.min.js"></script>
        <script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/lib/jquery.dimensions.js"></script>
        <script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.js"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                if(localStorage.gmailUserContact){
                    contacts=JSON.parse(localStorage.gmailUserContact)
                    data=[];
                    for(j=1;j<contacts.length;j++){
                        var name=contacts[j].name;
                        if(name==""){
                            name=contacts[j].email;
                        }
                        for(k=0;k<contacts[j].email.length;k++){
                            data.push(name+"<" +contacts[j].email[k] + ">");
                        }
                    }
                    $("#to").autocomplete(data);
                }
            })
        </script>
    </head>

    <body>
        <div class="main-container" style="direction:rtl;">
            <div class="gredient-box f">
                <span class="logo f"><img src="images/logo.png" width="50" /></span>
                <a class="setteing-button f-r" href="option.html" target="blank">إعدادات</a>
                <a class="setteing-button f-r" href="history.html" target="blank">مشاركات سابقة </a>
            </div>

            <div class="gredient-box f">
                <div class="link-image f" ><img id="page-pic" /></div>
                <div class="link-breif" id="page-desc">
                </div>
                <div class="f link-url" id="page-url"></div>
            </div>
            <div id="websites">

            </div>
            <div class="gredient-box f" id="shorturl">
                <span class="f short-link">مختصر الروابط</span>
                <div class="f link-url short-url" id="shortenerurl"></div>
                <input type="submit" class="copy" value="نسخ" onclick="SharingPopup.copy()"/>
            </div>
        </div>
    </body>
</html>
