<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Untitled Document</title>
        <!-- styles -->
        <link type="text/css" rel="stylesheet" href="css/style.css" />
        <!-- scripts -->
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="../Controllers/popup.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.clickme').click(function() {
                    $(this).parent().children('.fields').slideToggle('slow');
                });
            })
        </script>
    </head>

    <body>
        <div class="main-container" style="direction:rtl;">
            <div class="gredient-box f">
                <span class="logo f"><img src="images/logo.png" width="50" /></span>
                <a class="setteing-button f-r">إعدادات</a>
                <a class="setteing-button f-r">مشاركات سابقة </a>
            </div>

            <div class="gredient-box f">
                <img src="images/linkimg.png" class="link-image f" />
                <div class="link-breif">دعا يونس إسماعيل، عضو ائتلاف شباب الثورة، إلى مليونية
                    حاشدة للمطالبة بالإفراج عن الشيخ عمر عبد الرحمن، المحتجز بالسجون الأمريكية
                </div>
                <div class="f link-url">News.asp?NewsID=426568</div>
            </div>

            <div class="gredient-box f">
                <p class="clickme">
                    <span class="bullet f"></span>
                    <img src="images/facebook-1.png" class="f social-logo" />
                    <span class="f">facebook</span>
                    <span class="f-r">Ahmed Ali</span>
                </p>
                <div class="fields"  >
                    <label class="f">أرسل إلى</label>
                    <span class="input-shadow f">
                        <select name="" class="f">
                            <option>page</option>
                            <option>b</option>
                        </select>
                    </span>
                    <input name="" type="text" class="f" />
                    <textarea name="" cols="" rows="" class="f"></textarea>
                    <input type="submit" class="f-r" value="إرسال"/>
                </div>
            </div>
            <div class="gredient-box f">
                <p class="clickme">
                    <span class="bullet f"></span>
                    <img src="images/twitter-1.png" class="f social-logo" />
                    <span class="f">twitter</span>
                    <span class="f-r">Ahmed Ali</span>
                </p>
                <div class="fields">
                    <textarea name="" cols="" rows="" class="f"></textarea>
                    <input type="submit" class="f-r" value="إرسال"/>
                </div>
            </div>
            <div class="gredient-box f" id="shorturl">
                <span class="f short-link">مختصر الروابط</span>
                <div class="f link-url short-url" id="shortenerurl"></div>
                <input type="submit" class="copy" value="نسخ" onclick="SharingPopup.copy()"/>
            </div>
        </div>
    </body>
</html>
