<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="../Controllers/popup.js"></script>
        <script type="text/javascript" src="../Controllers/data.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>
        <div class="main-container">
            <div class="center-container">
                <div class="f logo">
                    <img src="images/logo.png" width="76" height="37" alt="شارك" />
                </div>
                <div class="title f">شارك سريعا</div>
                <!-- copy link -->
                <div class="copy-link f" id="short">
                    <small class="f">مختصر الروابط</small>
                    <small class="site-link f" id="shorturls"></small>
                    <input name="" type="submit" class="copy-button f-r" value="نسخ" onclick=""/>
                </div>
                <div class="f-r setting-cont" onclick="SharingPopup.openOptionPage()">
                    <a href="" class="f-r"><img src="images/settings.png" width="27" height="26" /></a>
                    <a href="" class="setting-link f" ><small>الأعدادات</small></a>
                </div>
                <div class="nl"></div>
            </div>
        </div>
    </body>
</html>


 <!--<a onclick="SharingPopup.open('facebook')" href="#"> faceBook</a> <br>
        <a onclick="SharingPopup.open('twitter')" href="#"> Twitter</a>
        <div>
            <table>
                <tr>
                    <td>
                        <input type="text" name="msg" id="msg">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="share" onclick="SharingPopup.share('facebook')">share facebook</button>
                    </td>
                </tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr>
                    <td>
                        <button id="share" onclick="SharingPopup.share('twitter')">share twitter</button>
                    </td>
                </tr>
            </table>
        </div>-->