.share-f {
    float:right;
}
.share-f-r {
    float:left;
}
.nl {
    clear:both;
    line-height:0;
    font-size:0;
    height:0;
}
.share-gredient-box {
    background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#FFF));
    border:1px solid #c8c8c8;
    padding:10px 0;
    width:374px;
    font-family:Tahoma, Geneva, sans-serif;
    color:#335300;
    font-size:12px;
	position:relative;
}
.share-social-logo{
    margin:0 5px;
}
.share-gredient-box p{
    margin:0;
    padding:0 5px;
    overflow:hidden;
    cursor:pointer;
}
.share-close-button {
	position: absolute;
	top: -18px;
	right: -9px;
}
.share-pop{
	border: 1px solid #C8C8C8;
	}
.share-bullet{
    width:5px;
    height:4px;
    background:#FFF;
    border-color:#868686;
    border-style:solid;
    border-width:2px 1px 1px 1px;
    margin:3px 2px;
}
.share-fields{
    padding:0 5px;
    display:block !important;
}
.share-gredient-box label{
    margin:0 16px;
    margin-top:10px;
    width: 50px;
}
.share-input-shadow{
    box-shadow: 0px 1px 4px #ADB8B1;
    margin-top:10px;
    padding:0;
}
.share-gredient-box select, .share-gredient-box input[type='text']{
    height:17px;
    border:1px solid #335300;
    width:125px;
    outline:none;
    font-size:11px;
}
.share-gredient-box select{
	margin-top:10px;
	}
.share-gredient-box input[type='text']{
    height:13px;
    margin:10px 21px 0px 0;
    box-shadow: 0px 1px 4px #ADB8B1;
    outline:none;
    width: 250px;
}
.share-gredient-box textarea{
    width:340px;
    height:35px;
    overflow:hidden;
    border:1px solid #335300;
    margin-right:10px;
    margin-top:10px;
    outline:none;
}
.share-gmail-text{
    width:251px !important;
}
.share-gredient-box input[type='submit']{
    border:0;
    background: -webkit-gradient(linear, left top, left bottom, from(#5f9a00), to(#335300));
    box-shadow: 0px 0px 2px #6a6a6a inset;
    color:#FFF;
    font:12px Tahoma, Geneva, sans-serif;
    margin-top:10px;
    padding: 3px 15px;
    -webkit-border-radius:20px;
}
