<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<!-- styles -->
<link type="text/css" rel="stylesheet" href="css/style.css" />
<link type="text/css" rel="stylesheet" href="css/pages-popup.css" />
</head>

<body>
<div class="main-container" style="direction:rtl;">
		
        

        
  <div class="gredient-box f share-pop">
  <div class="share-close-button"/>x</div>
<p>
                <span class="share-bullet f"></span>
                <img src="images/facebook-1.png" class="f social-logo" />
                <span class="f">facebook</span>
                <span class="f-r">Ahmed Ali</span>
            </p>
<div class="share-fields">
            	<label class="f">أرسل إلى</label>
                <span class="input-shadow f">
                    <select name="" class="f">
                      <option>page</option>
                      <option>b</option>
                    </select>
                </span>
                <input name="" type="text" class="f" />
                <textarea name="" cols="" rows="" class="f"></textarea>
                <input type="submit" class="f-r" value="إرسال"/>
                
                
          	</div>
  </div>
        <div class="gredient-box f">
        	<p>
                <span class="share-bullet f"></span>
              <img src="images/twitter-1.png" class="f social-logo" />
                <span class="f">twitter</span>
                <span class="f-r">Ahmed Ali</span>
            </p>
      <div class="share-fields">
            	
                <textarea name="" cols="" rows="" class="f"></textarea>
                <input type="submit" class="f-r" value="إرسال"/>
                
                
          	</div>
        </div>
        <div class="gredient-box f">
        	<p>
                <span class="share-bullet f"></span>
              <img src="images/gmail-1.png" class="f social-logo" />
                <span class="f">gmail</span>
                <span class="f-r">Ahmed Ali</span>
            </p>
      <div class="share-fields">
            	<label class="f">أرسل إلى</label>
				<input name="" type="text" class="f gmail-text" />
                <label class="f">أرسل إلى</label>
                <input name="" type="text" class="f gmail-text" />
                <textarea name="" cols="" rows="" class="f"></textarea>
                <input type="submit" class="f-r" value="إرسال"/>
                
                
          	</div>
        </div>
        <div class="gredient-box f">
        	<p>
                <span class="share-bullet f"></span>
                <img src="images/yahoo-1.png" class="f social-logo" />
                <span class="f">yahoo</span>
                <span class="f-r">Ahmed Ali</span>
            </p>
      <div class="share-fields">
            	<label class="f">أرسل إلى</label>
                <span class="input-shadow f">
                    <select name="" class="f">
                      <option>page</option>
                      <option>b</option>
                    </select>
                </span>
                <input name="" type="text" class="f" />
                <textarea name="" cols="" rows="" class="f"></textarea>
                <input type="submit" class="f-r" value="إرسال"/>
                
                
          	</div>
        </div>
        
    </div>
</body>
</html>
