<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="../Controllers/option.js"></script>
        <script type="text/javascript" src="../Controllers/data.js"></script>
        <script type="text/javascript" src="js/jquery.checkbox.min.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.checkbox.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/options.css" />
        <script type="text/javascript">
            $(document).ready(function() {
                $('input:checkbox:not([safari])').checkbox();
                $('input[safari]:checkbox').checkbox({cls:'jquery-safari-checkbox'});
                $('input:radio').checkbox();

                $("#choose").html(chrome.i18n.getMessage("choose"));
                $("#linkappear").html(chrome.i18n.getMessage("linkappear"));
                $("#mainappear").html(chrome.i18n.getMessage("mainappear"));
                $("#mouseappear").html(chrome.i18n.getMessage("mouseappear"));
                $("#save").val(chrome.i18n.getMessage("save"));
                
            });
        </script>
    </head>

    <body>
        <div class="main-container">

            <div class="logo">
                <img src="images/options-logo.png" width="145" height="70" alt="شارك" />
            </div>

            <div class="main-title f" id="choose"></div>

            <div class="services-container" id="websites">
            </div>

            <div class="main-title f" id="linkappear"></div>


            <form id="myform" action="javascript:void(0)">

                <div class="f checkbox-container">
                    <p>
                        <label class="f" id="mainappear"></label>
                        <input type="checkbox" name="checkbox[]" class="top5" id="popup"/>
                    </p>
                    <p>
                        <label class="f" id="mouseappear"></label>
                        <input type="checkbox" name="checkbox[]" class="top5" id="rightclick" />
                    </p>

                </div>

                <div class="f-r save-button">
                    <input name="" type="submit" class="add-button"  id="save"onclick="SharingOptions.save()"/>
                </div>

            </form>


        </div>
    </body>
</html>